@import "tailwindcss";

@theme {
  --color-orange: #ef7b48;
  --color-yellow: oklch(0.852 0.199 91.936);

  /* ✅ Add custom background image */
  --background-image-hero: url('/assets/Bitmap.png');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.siglet-font {
  font-family: "Sniglet", sans-serif;
}
.livvic-font {
  font-family: "Livvic";
}
.manrope-font {
  font-family: "Manrope";
}
body {

  font-family: "Poppins", serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
